.hero{
    padding: 0 50px;
    padding-top: 20px;
    color: #FFFFFF;
    background: transparent;
    
    
}

.box1{
    background: transparent;
    
}

.box1-line{
    width: 80%;
    height: 2px;
    background-color: transparent;
    
}

.icon{
    width: 100%;
    height: 20px;
    color: #FFFFFF;
}

.button{
    color: #F5D10D;
    border-radius:20px;
    padding: 10px;
    border-style: solid;
    border-color: #F5D10D;
    border-width: 2px;
}

p{
    background-color: transparent;
}

.box2-image{
    
    background: transparent;

}




.box2{
    background: transparent;
    /* with: 80%; */
}

.myImage{
    width: 100%;
    background: transparent;
  
}


.box3{
    background: transparent;
    /* with: 80%; */
}

.aboutme{
    overflow: auto;
    background: transparent;
}

.box1-icons{
    background: transparent;
    /* with: 80%; */
}




