.navbar{
    padding: 0 50px;
    padding-top: 20px;
    color: #FFFFFF;
    background: transparent;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
}

.navbar-logo{
    font-size: 3rem;
    
    background: transparent;
    
   
}

.navbar-item{
    background: transparent;
}

.item{
    background: transparent;
}
